body{
    background: linear-gradient(#333, #666);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family:'Courier New', Courier, monospace;
    height: 100vh;
}