@import 'reset.scss';
@import 'fundo.scss';

@mixin girar($graus){
    transform: rotate($graus);
}

nav{
    background-color: #eee;
    padding: 20px;
    box-shadow: 0 0 20px;
    border-radius: 20px;

    ul{
        margin: 0;
        padding: 0;
        gap: 10px;
        display: flex;
        list-style: none;

        li{
            display: flex;
            padding: 20px;
            background: #567;
            color: #fff;
            @include girar(30deg);
            a{
                color: #fff;
                font-size: 1.3rem;
                text-decoration: none;
            }
        }
    }
}